<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Conférence</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                  <a class="nav-link" href="#sessions-list">Voir les sessions</a>
            </li>
            <li class="nav-item">
                  <a class="nav-link" href="#speakers-list">Voir les présentateurs</a>
            </li>
          </ul>
    </div>
</nav>
<section id="main-view" class="container col-md-10 col-md-offset-1">
    
</section>
<nav class="footer navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid" style="justify-content: center;">
          <div class="navbar-brand mb-0 col-xs-12">
                  Copyright - All Rights Reserved
          </div>
    </div>
</nav>